
/*DIVERS*/

a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

.inscription, .inscription:visited
{
    color: #0065FC;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

figure
{
    border-radius: 15px;
    box-shadow: 5px 5px 10px #f2f2f2;
    overflow: hidden;
}

#hebergements figure
{
    border: 4px solid white;
    background-color: white;
    margin-bottom: 20px;
}

#activites figcaption
{
    padding: 15px;
}

.mep
{
margin:0% 1%
}
/*MEP HEADER*/

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    width: auto;
}

.top
{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inscription 
{
    color: #0065FC;
    font-weight: bold;
}

.nav-header
{
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#premier-onglet
{
    color: #0065FC;
    border-top: 4px solid #0065FC;
    height: 103px;
}

/*section une*/

#section_une
{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 40px;
}

.titre_section_une
{
margin-bottom: 8px;
}

.sous_titre_une 
{
    margin-bottom: 10px;
}

.icone-lieu 
{
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechercher
{
    height: 40px;
    width: 220px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.bouton-rechercher 
{
    color: white;
    background-color: #3865fd;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    margin-left: -10px;  
    font-size: 14px;
}

.loupe
{
    display: none;
}

.form-recherche
{
    display: flex;
}
  
::placeholder
{
    color: black;
    font-size: 14px;
}
/*MEP Filtre*/

.tous-filtres
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tous-filtres p
{
    font-size: 15px;
    font-weight: bold;
}

.section-filtre
{
    display: flex;
    margin-top: 15px;
}

.icone-filtre
{
    border: 2px solid #f2f2f2;
    border-radius: 60px;
    color: #0065FC;
    font-weight: bold;
    padding-right: 20px;
    margin: 0px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-filtre i
{
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-filtre a
{
    padding-left: 10px;
}

.icone-filtre:hover
{
    color: white;
}

.icone-filtre:hover i
{
    background-color: #0065fc;
}

.icone-filtre:hover a 
{
    color: #0065FC;
}
.filtre
{
    margin-right: 30px;
    margin-top: 15px;
}
/*infos*/

.infos
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
    margin-right: 10px;
}

.infos i 
{
    color: #0065FC;
}

.infos-txt
{
    font-size: 15px;
}

/*MEP SECTION HBGMT + POPU*/

#hebergements
{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

#hebergements b
{
    font-weight: bold;
}

.hebergements
{
    background-color: #f2f2f2;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 670px;
}



.titre-hebergements
{
    margin-bottom: 20px;
    font-size: 25px;
}

.hebergements img
{
    width: 350px;
    height: 150px;
    object-fit: cover;
}
.block-photos-un
{
    display: flex;
    justify-content: space-between;
}
.block-photos-deux
{
    display: flex;
    justify-content: space-between;
}

#hebergements i.pleine
{
    color: #0065FC;
}

#hebergements i.vide
{
    color: #f2f2f2;
}

.hebergements figcaption
{
    margin: 5px 10px;
}

.hebergements figcaption p
{
    margin: 5px 0px;
}

.afficher_plus
{
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.populaire
{
    background-color: #f2f2f2;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    width: 25%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre-populaire
{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin: 10px 0px;
}

.titre-populaire i
{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.populaire img
{
    width: 40%;
    object-fit: cover;
    height: 150px;
}

.populaire img.portrait
{
    width: 50%;
    object-fit: cover;
}
.populaire figure
{ 
    display: flex;
    width: 90%;
    padding-right: 10%;
    margin: 10px 0px;
}

.populaire figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.populaire figcaption p
{
    margin-top: 10px;
}

#hebergements
{
    display: flex;
}

.conteneur-populaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*MEP ACTIVITE*/

#activites
{
    padding: 30px;
}

#activites h2
{
    margin-bottom: 20px;
}

.conteneur-activites
{
    display: flex;
    justify-content: space-between;
}

.colonne-impair img
{
    height: 454px;
    object-fit: cover;
    object-position: initial;
}

.colonne-impair
{
    width: 20%;
}

.colonne-pair img
{
    height: 175px;
    width: 100%;
    object-fit: cover; 
    object-position: initial;
}

.colonne-pair
{
    width: 20%;
}

#frioul
{
    height: 100px;
}

#pomegues
{
    height: 250px;
}

.colonne-pair figure.first
{
    margin-bottom: 52px;
}

/*Footer*/
footer 
{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 30px 50px;
    background-color: #f2f2f2;
}

ul 
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li 
{
    margin-bottom:20px;
}

/*titre footer*/

.footer-intro 
{
    margin-right: 200px;
}

.footer-titre 
{
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 250px;
    font-weight: bold;
}

/*_____________RESPONSIVE PHONE___________*/

@media all and (min-width: 0px) and (max-width: 414px)
{
    .mep
    {
        margin: 0px;
    }
/*HEADER*/
    header
    {
        padding-left: 0px;
        display: block;
        justify-content: left;
        margin-top: 15px;
    }
  
    .nav-header:not(img)
    {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;     
    }
    
    .nav-header :nth-child(3)
    {
        justify-content: flex-end;
    }

    .nav-header
    {
        height: 45px;
    }

    header img
    {
        margin-left: 20px;
    }

    #premier-onglet
    {
        height: 40px;
        border-bottom: 4px solid #0065FC;
        border-top: 0px;
        width: 50%;
        padding: 10px;
    }

    #deuxieme-onglet
    {
        border-bottom: 4px solid #f2f2f2;
        height: 40px;
        width: 50%;
        padding: 10px;
        margin-top: 2%
    }
   
    #inscription
    {
        width: 100%;
        padding: 20px;
    }

/*Section une*/

    #section_une
    {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }

    .titre_section_une
    {
        margin-right: 10px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .sous_titre_une
    {
        margin-bottom: 30px;
    }
/*recherche*/

    .icone-lieu
    {
        border-radius: 15px 0px 0px 15px;
        width: 15%;
    }

    .form-recherche
    {
        width: 300px;
    }

    .bouton-rechercher
    {
        display: none;
    }

    .loupe
    {
        color: white;
        background-color: #3865fd;
        border: none;
        height: 40px;
        width: 15%;
        border-radius: 10px 10px 10px 10px;
        font-weight: bold;
        margin-left: -10px;  
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
/*filtres*/

    .tous-filtres
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-filtre
    {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .icone-filtre
    {
        margin-right: 20px;
        margin-left: 0px;
        margin-bottom: 5px;
    }

    .filtre
    {
        margin-left: 5px;
    }

/*infos*/

    .infos
    {
        margin-bottom: 50px;
        align-items: flex-start;
    }

    .infos-txt
    {
        font-size: 17px;
    }

/*populaire et hebergement*/

    #hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #hebergements figure
    {
        border: 6px solid white;
        border-radius: 20px;
    }

    .populaire
    {
        width: 100%;
        margin :0px;
        padding: 10px;
        border-radius: 0px;
    }

    .populaire figure
    {
        width: 100%;
    }

    .hebergements
    {
        margin : 0px;
        width: 100%;
        background-color: white;
        height: fit-content;
        padding: 15px;
    }

    .hebergements img
    {
        width: 100%;
    }

    .block-photos-un, .block-photos-deux
    {
        display: flex;
        flex-direction: column;
    }

/*activités*/

    .conteneur-activites
    {
        display: flex;
        flex-direction: column;
    }

    .conteneur-activites img
    {
        height: 150px;
        width: fit-content;
    }

    #pomegues, #frioul
    {
        height: 150px;
        width: 100%;
    }

    .colonne-pair
    {
        width: 100%;
    }

    .colonne-impair
    {
        width: 100%;
    }

    .colonne-pair figure.first
    {
        margin-bottom: 20px;

    }

    .colonne-impair figure
    {
        margin: 20px 0px;
    }

    #activites
    {
        padding: 15px;
    }

    #activites h2
    {
        margin-bottom: 0px;
    }

/*footer*/

    footer 
    {
        display:flex;
        flex-direction: column;
    }
   
    .footer-titre
    {
        margin-right: 0px;
    }

    footer h3
    {
        margin: 20px 0px;
    }

    .footer-intro
    {
        margin-right: 0;
    }

}

@media all and (min-width: 415px) and (max-width: 1024px)
{
    .mep
    {
        margin: 0;
    }

    header
    {
        flex-flow: wrap;
    }

    .nav-header
    {
        width: 100%;
    }

    .top
    {
        width: 30%;
    }

    #premier-onglet
    {
        border-top: none ;
    }

    .icone-filtre
    {
        margin: 1%;
    }

    .filtre
    {
        margin-right: 3%;
        margin-top: 2%;
    }

    .section-filtre
    {
        flex-flow: wrap;
        justify-content: flex-start;
    }

    .tous-filtres
    {
        flex-flow: column;
        align-items: flex-start;
    }

    #hebergements
    {
        flex-flow: row;
        margin-bottom: 5%;
        margin-left: 1%;
    }

    .hebergements
    {
        margin: 0;
        padding: 3% 0.5%;
        width: 70%;
        height: 50%;
    }

    .hebergements a
    {
        margin-right: 1%;
    }

    .hebergements img
    {
        width: 100%;
        height: 100px;
    }

    .hebergements figcaption
    {
        margin: 0%;
    }

    #hebergements h3
    {
        font-size: 1em;
    }

    .block-photos-un
    {
        margin-top: 8%;
    }

    .populaire
    {
        margin: 0%;
        justify-content: flex-start;
        padding: 1%;
        height: auto;
        width: 30%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .populaire figure
    {
        width:  100%;
        padding-right: 0%;
    }

    .populaire img
    {
        width: 100%;
        height: 50px;
    }

    
    .populaire img.portrait
    {
        width: 100%;
    }

    .populaire figcaption
    {
        margin: 0%;
    }

    .conteneur-populaire figure
    {
        display: flex;
        flex-flow: column;
    }

    .titre-populaire i
    {
        display: none;
    }

    .afficher_plus 
    {
        margin-top: 10%;
    }

    .conteneur-activites
    {
        justify-content: space-around;
    }

    #activites h2
    {
        margin-left: 3%;
    }

    .colonne-impair img
    {
        height: 265px;
    }


    #activites figcaption
    {
        padding: 2%;
    }
    
    .colonne-pair figure.first
    {
        margin-bottom: 20%;
    }

    .colonne-pair img
    {
        height: 100px;
    }

    #pomegues
    {
        height: 100px;
    }

    .footer-intro
    {
        margin-right: 3px;
        margin-left: 3px;
    }

    footer
    {
        justify-content: space-between;
        padding-left: 5%;
    }

    .footer-titre
    {
        margin-right: 0%;
    }
}