/*DIVERS*/
a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

.inscription, .inscription:visited
{
    color: #0065FC;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
/*MEP HEADER*/
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    width: auto;
}

.top
{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inscription 
{
    color: #0065FC;
    font-weight: bold;
}

.nav-header
{
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#premier-onglet
{
    color: #0065FC;
    border-top: 4px solid #0065FC;
    height: 103px;
}
/*section une*/
#section_une
{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 30px;
}

.titre_section_une
{
margin-bottom: 8px;
}

.sous_titre_une 
{
    margin-bottom: 10px;
}

.icone-lieu 
{
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechercher
{
    height: 30px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.bouton-rechercher 
{
    color: white;
    background-color: #3865fd;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    margin-left: -10px;  
}

.form-recherche
{

    display: flex;

}
.tous-filtres
{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-filtre 
{
    border-radius: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d6d8dc;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.infos
{

    display: flex;

}

#hebergements
{
    display: flex;
}

.hebergements
{
    background-color: #f2f2f2;
    width: 70%
}

.hebergements img
{
    width: 200px;
    height: 100px;
}
.block-photos
{
    display: flex;
    flex-wrap: wrap;
    

}
/*Footer*/
footer 
{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 30px 50px;
    background-color: #f2f2f2;
}

ul 
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li 
{
    margin-bottom:20px;
}

/*titre footer*/

.footer-intro 
{
    margin-right: 200px;
}

.footer-titre {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 250px;
    font-weight: bold;
}
