/*DIVERS*/
a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

.inscription, .inscription:visited
{
    color: #0065FC;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

figure
{
    border-radius: 15px;
    box-shadow: 5px 5px 10px #f2f2f2;
    overflow: hidden;
}

#hebergements figure
{
    border: 4px solid white;
    background-color: white;
    margin-bottom: 20px;
}

#activites figcaption
{
    padding: 15px;
}

/*MEP HEADER*/

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    width: auto;
}

.top
{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inscription 
{
    color: #0065FC;
    font-weight: bold;
}

.nav-header
{
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#premier-onglet
{
    color: #0065FC;
    border-top: 4px solid #0065FC;
    height: 103px;
}

/*section une*/

#section_une
{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 40px;
}

.titre_section_une
{
margin-bottom: 8px;
}

.sous_titre_une 
{
    margin-bottom: 10px;
}

.icone-lieu 
{
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechercher
{
    height: 30px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.bouton-rechercher 
{
    color: white;
    background-color: #3865fd;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    margin-left: -10px;  
}

.form-recherche
{
    display: flex;
}

::placeholder
{
    color: black;
}
/*MEP Filtre*/

.tous-filtres
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tous-filtres p
{
    font-size: 15px;
    font-weight: bold;
}

.section-filtre
{
    display: flex;
    margin-top: 15px;
}

.icone-filtre
{
    border: 2px solid #f2f2f2;
    border-radius: 60px;
    color: #0065FC;
    font-weight: bold;
    padding-right: 20px;
    margin: 0px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-filtre i
{
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-filtre a
{
    padding-left: 10px;
}

.icone-filtre:hover
{
    color: white;
}

.icone-filtre:hover i
{
    background-color: #0065fc;
}

.icone-filtre:hover a 
{
    color: #0065FC;
}

/*infos*/

.infos
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
    margin-right: 10px;
}

.infos i 
{
    color: #0065FC;
}

.infos-txt
{
    font-size: 15px;
}

/*MEP SECTION HBGMT + POPU*/

#hebergements
{
    display: flex;
    justify-content: space-around   ;
}

.hebergements
{
    background-color: #f2f2f2;
    padding: 30px;
    padding-top: 10px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 14px;
}


.titre-hebergements
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hebergements img
{
    width: 250px;
    height: 120px;
    object-fit: cover;
}
.block-photos-un
{
    display: flex;
    justify-content: space-between;
}
.block-photos-deux
{
    display: flex;
    justify-content: space-between;
}

#hebergements i.pleine
{
    color: #0065FC;
}

#hebergements i.vide
{
    color: #f2f2f2;
}

.hebergements figcaption
{
    margin: 10px;
}

.hebergements figcaption p
{
    margin: 5px 0px;
}

.afficher_plus
{
    font-weight: bold;
    font-size: 15px;
}
.populaire
{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 14px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre-populaire
{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.populaire img
{
    width: 140px;
    height: 150px;
    object-fit: cover;
}

.populaire figure
{
display: flex;
}

.populaire .note
{
    margin-top: 80px;
}

.populaire figcaption
{
    margin: 8px 20px;
}

#hebergements
{
    display: flex;
}



/*MEP ACTIVITE*/

#activites
{
    padding: 40px;
}

.conteneur-activites
{
    display: flex;
    justify-content: space-between;
}


.colonne-impair img
{
    width: 350px;
    height: 454px;
    object-fit: cover;
}

.colonne-pair img
{
    width: 350px;
    height: 175px;  
    object-fit: cover; 
}

#frioul
{
    height: 100px;
}

#pomegues
{
    height: 250px;
}

.colonne-pair figure.first
{
    margin-bottom: 52px;
}

/*Footer*/
footer 
{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 30px 50px;
    background-color: #f2f2f2;
}

ul 
{
    list-style:none;
    margin-left:0;
    padding-left:0;
}

li 
{
    margin-bottom:20px;
}

/*titre footer*/

.footer-intro 
{
    margin-right: 200px;
}

.footer-titre 
{
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 250px;
    font-weight: bold;
}
